<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 center-block">
        <%= form_for @client do |f| %>
          <% if @client.errors.any?%>
            <h2><%= pluralize(@client.errors.count, "error") %> prevented this client from saving:</h2>
            <ul>
              <% @client.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <%end%>
            </ul>
          <%end%>

          <div class="input-field col s12 m6 l4">
            <%= f.label :business %>
            <%= f.text_field :business, {class: 'form-control city-client'} %>
          </div>

          <div class="input-field col s12 m6 l4">
            <%= f.label :owner_or_manager %>
            <%= f.text_field :owner_or_manager, {class: 'form-control city-client'} %>
          </div>

          <div class="input-field col s12 m6 l4">
            <%= f.label :number %>
            <%= f.text_field :number, {class: 'form-control city-client'} %>
          </div>
          
          <div class="input-field col s12 m6 l6">
            
            <%= f.collection_select :city_id, City.all, :id, :name%>
          </div>

          <div class="input-field col s12 m6 l6">
            <%= f.label :email %>
            <%= f.text_field :email, {class: 'form-control city-client'} %>
          </div>

          <div class="col s12">
            <button type="submit" class="btn sendbtn">Create</button>
          </div>

        <%end%>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
 $('select').material_select();
});
</script>