<div class="container sections">
  <div class="row">
    <div class="col s12 title-dark">
      <div class="col s2 hr-line">
        <hr>
      </div>
      <br>
      <h1><%= @client.business %> Information</h1>
      <h5><b><i class="material-icons" style="font-weight: bold;">arrow_back</i></b> <%= link_to "All Clients", clients_path %></h5>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 l12">
      <table>
        <thead>
          <tr>
              <th>Business Name</th>
              <th>City</th>
              <th>Owner or Manager</th>
              <th>Contact Number</th>
              <th>Email</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @client.business%></td>
            <td><%= @client.city.name%></td>
            <td><%= @client.owner_or_manager%></td>
            <td><%= @client.number%></td>
            <td><%= @client.email%></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "Edit", edit_client_path(@client), class: "btn orange" %>
      <%= link_to "Delete", client_path(@client), method: :delete, data: {confirm: "Estas seguro que quieres borrar este cliente?"}, class: "btn red" %>
    </div>
  </div>
</div>