<div class="container mgntop">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-5 center-block">
        <h1><strong><%= @home.name %></strong> Information</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 center-block">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <th>Name</th>
            <th>Date of Service</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Price</th>
            <th>Next Service</th>
            <th>Notes</th>
          </thead>
          <tbody>
            <tr>
              <td class="td-cells"><%= @home.name%></td>
              <td class="td-cells"><%= @home.dateOfService%></td>
              <td class="td-cells"><%= @home.address%></td>
              <td class="td-cells"><%= @home.phone%></td>
              <td class="td-cells"><%= @home.price%></td>
              <td class="td-cells"><%= @home.nextService%></td>
              <td class="td-cells"><%= @home.notes%></td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= link_to "Edit", edit_home_path(@home), class: "btn" %>
      <%= link_to "Delete", home_path(@home), method: :delete, data: {confirm: "Estas seguro que quieres borrar este cliente?"}, class: "btn-delete" %>
    </div>
  </div>
</div>
