<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 center-block">
        <%= form_for @city do |f| %>
          <% if @city.errors.any?%>
            <h2><%= pluralize(@city.errors.count, "error") %> prevented this city from saving:</h2>
            <ul>
              <% @city.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <%end%>
            </ul>
          <%end%>

          <% if current_page?(:controller => "cities", :action => "new")%>
          <div class="input-field col s12">
            <%= f.label :name %>
            <%= f.text_field :name %>
          </div>
          <button type="submit" class="btn blue sendbtn">Create</button>
          <% elsif current_page?(:controller => "cities", :action => "edit") %>
          <div class="input-field col s12">
            <%= f.text_field :name %>
          </div>
          <button type="submit" class="btn blue sendbtn">Update</button>
          <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>