<div id="services" class="container sections">
  <div class="row">
    <div class="col s12 title-dark">
      <div class="col s2 hr-line">
        <hr>
      </div>
      <br>
      <h1>Services</h1>
    </div>
    <div class="col s12 l12">
      <div class="col s12 l3 request-quote">
        <p>Give us a call at <a href="tel:6154186786">615-418-6786</a>, <a href="tel:6153376981">615-337-6981</a> to get a free quote or fill the form below.</p>

        <%= form_for @contact do |f| %>
          <div class="row">
          
            <div class="input-field col s12 m12 l12">
              <%= f.label :name, class: "cH" %>
              <%= f.text_field :name, required: true, :placeholder => "Your Name" %>
            </div>


            <div class="input-field col s12 m12 l12">
              <%= f.label :email, class: "cH" %>
              <%= f.email_field :email, required: true, :placeholder => "Your Email" %>
            </div>

            <div class="input-field col s12 m12 l12">
              <%= f.label :phone, class: "cH" %>
              <%= f.email_field :phone, required: true, :placeholder => "Your Phone Number" %>
            </div>

            <div class="input-field col s12 m12 l12">
              <%= f.label :message, class: "cH" %>
              <%= f.text_area :message, as: :text, class: "materialize-textarea", :placeholder => "Your Message"%>
            </div>


            <div class="input-field col s12 m12 l12 hide">
              <%= f.label :nickname %>
              <%= f.text_field :nickname, hint: 'leave this field blank' %>
            </div>

            <div class="input-field col s12 m12 l12">
              <button class="btn waves-effect waves-light azul-color" type="submit" name="action">Get Your Quote</button>
            </div>

          </div>
        <%end%>
      </div>

      <!-- Services -->
      <div class="col s12 l8 offset-m1 offset-l1 service">
        <div id="window_cleaning" class="col s12 m12 l12">

          <div class="col s12 l12 service-title">
            <h4>Window Cleaning</h4>
            <div class="col s4 l2 hr-line">
              <hr>   
            </div>
          </div>
          <!-- Commercial Window Cleaning -->
          <div class="col s12 m6 l6 ind_service">
            <div class="col s3 m3 l3 icon_div">
              <img class="responsive-img" src="/assets/commercial_icon.png" alt="Commercial Window Cleaning">
            </div>
            <div class="col s12 l12 service_description">
              <h5>Commercial</h5>
              <p>
                Our window cleaning team and high quality equipment will make sure your business is always spotless and a step ahead of the competition. 
              </p>
            </div>
          </div>
          <!-- Residential Window Cleaning -->
          <div class="col s12 m6 l6 ind_service">
            <div class="col s3 m3 l3 icon_div">
              <img class="responsive-img" src="/assets/residential_icon.png" alt="Residential Window Cleaning">
            </div>
            <div class="col s12 l12 service_description">
              <h5>Residential</h5>
              <p>
                We clean houses year round. Especially around the holidays and Season changes to keep houses looking clean all year long.
              </p>
            </div>
          </div>

        </div> <!-- End of Window Cleaning Section-->
          
          <!-- Office Cleaning Service -->
        <div id="office_cleaning" class="col s12 l6">
          <div class="col s12 l12 service-title">
            <h4>Office Cleaning</h4>
            <div class="col s4 l4 hr-line">
              <hr style="height: 4px !important;">   
            </div>
          </div>
          <!-- Office Cleaning Description -->
          <div class="col s12 m12 l12 ind_service">
            <div class="col s3 m3 l3 icon_div">
              <img class="responsive-img" src="/assets/office_cleaning.png">
            </div>
            <div class="col s12 l12 service_description">
              <p>
                Our professionally experienced cleaning crew does an outstanding job. For us, each cleaning is considered a deep cleaning. Our hardworking crew take each job seriously and strive to receive your satisfaction.
              </p>
            </div>
          </div>
        </div> <!--End of Office Cleaning-->


        <!-- Pressure Washing Service -->
        <div id="pressure_washing" class="col s12 l6">
          <div class="col s12 l12 service-title">
            <h4>Pressure Washing</h4>
            <div class="col s4 l4 hr-line">
              <hr style="height: 4px;">   
            </div>
          </div>
          <!-- Pressure Washing Description -->
          <div class="col s12 m12 l12 ind_service">
            <div class="col s3 m3 l3 icon_div">
              <img class="responsive-img" src="/assets/pressure_washing.png" >
            </div>
            <div class="col s12 l12 service_description">
              <p>
                Our professionally experienced cleaning crew does an outstanding job. For us, each cleaning is considered a deep cleaning. Our hardworking crew take each job seriously and strive to receive your satisfaction.
              </p>
            </div>
          </div>
        </div> <!--End of Office Cleaning-->

      </div> <!-- End of Services-->
    </div>
  </div>
</div>