<div class="container">
  <h1>Edit Log</h1>
  <%= form_for([@client, @log]) do |f| %>
    <div class="input-field col s12">
      <%= f.text_field :date_of_service, class: "datepicker", placeholder: "Date" %>
    </div>

    <div class="input-field col s12">
      <%= f.label :service %>
      <%= f.text_field :service %>
    </div>

    <div class="input-field col s12">
      <%= f.label :payment_status %>
      <%= f.text_field :payment_status %>
    </div>

    <div class="input-field col s12">
      <%= f.label :amount %>
      <%= f.number_field :amount, value: number_to_currency(f.object.amount.to_f, delimiter: '', unit: ''), step: :any %>
    </div>
    <button type="submit" class="btn blue sendbtn">Update</button>
    <br>
    <br>
  <%end%>
  <script>
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: false, // Close upon selecting a date,
      format: 'mm-dd-yyyy'
    });
  </script>
</div>
