<!DOCTYPE html>
<html>
<head>
  <title>ClearChoiceRails</title>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
  <body id="page-top" class="index">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to image_tag("clearChoice_web.png", :alt => "Clear Choice"), root_path, :class => "navbar-brand" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li><%= link_to "Home", root_path, class: "page-scroll" %></li>

                <li><%= link_to "Contact", new_contact_path, class: "page-scroll" %></li>

                <% if user_signed_in? %>
                  <li class="dropdown">
                    <a href="#" class=" page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "All Clients", clients_path %>
                      </li>
                      <li>
                        <%= link_to "New Client", new_client_path %>
                      <li>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to "All Cities", cities_path %>
                      </li>
                      <li>
                        <%= link_to "New City", new_city_path %>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "page-scroll" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "Login", new_user_session_path, class: "page-scroll" %>
                  </li>
                <% end %>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
      <div class="col-sm-6 center-block">
        <% if notice%>
          <p class="notice"><%= notice %></p>
        <%elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </nav>



      <%= yield %>

    <footer class="footer">
      <div class="container footer-container">
        <div class="col-md-3">
          <p>© 2016 <a href="http://espinozabrand.com">Brandon Espinoza</a></p>
        </div>
      </div>
    </footer>


  </body>
</html>
